<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <br>
    <p> <%= contactContent %> </p>
    <br>
    <a class="btn" href="mailto:edwardhuacong@gmail.com">Send Message</a>
<%- include("partials/footer"); -%>
